@model Butique.Models.Entity.Product;
@{
    ViewData["Title"] = " Edit New Product";
}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Add New Product</h1>
        <form method="post">
            <div class="row md-2 ml-3">
                <div class="col-md-12">
                    <input class="form-control" type="text" asp-for="Name" placeholder="Enter Product Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row md-2 ml-3">
                <div class="col-md-12">
                    <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.CategoryId"></select>
                </div>
            </div>
            <br />
            <div class="row md-2 ml-3">
                <div class="col-md-12">
                    <input class="form-control" type="text" asp-for="Code" placeholder="Enter Product Code" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row md-2 ml-3">
                <div class="col-md-12">
                    <input class="form-control" type="number" asp-for="Quantity" placeholder="Enter Product Quantity" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row md-2 ml-3">
                <div class="col-md-12">
                    <input class="form-control" type="text" asp-for="UnitPrice" placeholder="Enter Product UnitPrice" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row md-2 ml-3">
                <div class="col-md-12">
                    <input class="form-control" type="text" asp-for="Description" placeholder="Enter Product Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <br />
            <input class="btn btn-outline-success" type="submit" value="Insert new Product" />
        </form>
    </div>
</div>